<div class="contenedor-principal">
    <div class="caja-datos">
        <img [src]="user.photo" alt="Foto">
        <p class="bold">{{user.name}} {{user.last_name}}</p>
        <p><strong>Nombre:</strong> {{user.name}}</p>
        <p><strong>Apellido:</strong> {{user.last_name}}</p>
        <p><strong>Correo:</strong> {{user.email}}</p>
    </div>
    <form class="caja-editar">
        <h3>Editar Datos</h3>
        <label for="nombre">Nombre</label>
        <input type="text" #input1>
        <label for="">Apellido</label>
        <input type="text" #input2>
        <label for="correo">Correo</label>
        <input type="text" #input3>
        <label for="url">Foto URL</label>
        <input type="text" #input4>
        <button type="button" (click)="editUser(input1.value, input2.value, input3.value, input4.value)">Modificar</button>

       <p [ngStyle]="{color:mensaje=='Usuario actualizado' ? 'green' : 'red'}">{{mensaje}}</p>
    </form>
</div>
