<section class="contenedor-principal">

<ng-container *ngIf="arrayBooks.length>0, else esFalso">
    <div class="tarjeta" *ngFor="let book of arrayBooks; let even = even">
        <div class="portada">
            <img [src]="book.photo" alt="Foto">
        </div>
        <div class="texto-tarjeta">
                <p class="linea-inferior">{{book.type}}</p>
                <h3>{{book.title}}</h3>
                <p>{{book.author}}</p>
                <p>{{book.id_book | ref}}</p>
        </div>
        <p>{{book.price}}€</p>
        <button [ngClass]="{'espar':even, '': !even}">Comprar</button>
    </div>
</ng-container>

<ng-template #esFalso>
    <p>No hay libros</p>
</ng-template>

</section>

<section class="contenedor-formulario">

<form>
    <h3>Añadir libro</h3>
    <label for="idLibro">ID libro</label>
    <input type="number" id="idLibro" #input1>
    <label for="idUser">ID usuario</label>
    <input type="number" id="idUser" #input2>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" #input3>
    <label for="tipo">Tipo</label>
    <input type="text" id="tipo" #input4>
    <label for="autor">Autor</label>
    <input type="text" id="autor" #input5>
    <label for="precio">Precio</label>
    <input type="number" id="precio"#input6>
    <label for="url">Foto URL</label>
    <input type="text" id="url" #input7>
    <button type="button" (click)="guardarLibro(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value, input7.value)">Guardar</button>
</form>

</section>
