.contenedor-principal{
    border: 0px solid palevioletred;
    min-height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.contenedor-tarjetas {
    border: 0px solid palevioletred;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
}

input{
    width: 10cm;
}

