form{
    background-color: #FBC5C3;
    border: 0px solid greenyellow;
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button{
    background-color: #CB607D ;
    padding: 10px;
    border-radius: 2px;
    border: transparent;
    margin: 30px;
    width: 5cm;
}

input{
    width: 5cm;
}

input:focus{
    outline: 2px solid #671F45;
}

button:hover{
    background-color: #671F45;
    color: white;
}

h3{
    margin: 30px;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}
