.contenedor-principal{
    border: 0px solid palevioletred;
    min-height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.contenedor-formulario {
    border: 0px solid red;
    border-top: 1px solid black;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

/* Formulario */

form{
    background-color: #FBC5C3;
    border: 0px solid greenyellow;
    height: 550px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espacio-inferior{
    margin-bottom: 30px;
}

button{
    background-color: #CB607D ;
    padding: 10px;
    border-radius: 2px;
    border: transparent;
    margin: 30px;
    width: 5cm;
}



