<section class="contenedor-principal">
    <section class="contenedor-formulario">
        <form #formUpdate="ngForm">
            <h3 class="espacio-inferior">Modificar libro</h3>

            <div class="form-group">
                <label for="idLibro">ID libro</label>
                <input class="form-control" type="number" name="Id_book" [(ngModel)]="book.Id_book" #libroId="ngModel">
            </div>

            <div class="form-group">
                <label for="idUser">ID usuario</label>
                <input class="form-control" type="number" name="Id_user" [(ngModel)]="book.Id_user" #usuarioId="ngModel">
            </div>

            <div class="form-group">
                <label for="titulo">Título</label>
                <input class="form-control" type="text" name="title" [(ngModel)]="book.title" #tituloId="ngModel">
            </div>

            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input class="form-control" type="text" name="type" [(ngModel)]="book.type" #tipoId="ngModel"
                [ngClass]="{ 'is-invalid': (tipoId.dirty || tipoId.touched) && tipoId.invalid }" [pattern]="'^(Tapa Blanda|Tapa Dura)$'">
                <div *ngIf="(tipoId.dirty || tipoId.touched) && tipoId.invalid" class="invalid-feedback">
                    <div *ngIf="tipoId.errors.pattern">Debe ser 'Tapa Blanda' o 'Tapa Dura'</div>
                </div>
            </div>

            <div class="form-group">
                <label for="autor">Autor</label>
                <input class="form-control" type="text" name="author" [(ngModel)]="book.author" #autorId="ngModel">
            </div>

            <div class="form-group">
                <label for="precio">Precio</label>
                <input class="form-control" type="number" name="price" [(ngModel)]="book.price" #precioId="ngModel">
            </div>

            <div class="form-group">
                <label for="url">Foto URL</label>
                <input class="form-control" type="text" name="photo" [(ngModel)]="book.photo" #urlId="ngModel">
            </div>

            <button (click)="modificarLibro(book.Id_book.toString(), book.Id_user.toString(), book.title, book.type, book.author, book.price.toString(), book.photo)">Modificar</button>
        </form>
    </section>
</section>


