form{
    background-color: grey;
    border: 0px solid greenyellow;
    height: 420px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

button{
    background-color: aquamarine ;
    padding: 10px;
    border-radius: 2px;
    border: transparent;
    margin: 30px;
}

input:focus{
    outline: 2px solid aquamarine;
}

button:hover{
    background-color: orange;
}

h3{
    padding: 10px;
    border-bottom: 1px solid black;
}